{
    "openapi": "3.0.0",
    "info": {
        "title": "Travel API",
        "description": "Sayohat veb-sayti uchun API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://toqtarbay.dbc.uz/api",
            "description": "Production Server"
        },
        {
            "url": "http://travel.test/api",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Biz haqimizda ma'lumotini olish",
                "operationId": "c9c8a41eb9893e0f2c10063d6ca06abd",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (kk, uz, ru, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sarguzashtlar olami"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Biz haqimizda batafsil..."
                                                },
                                                "images": {
                                                    "description": "Rasmlar ro'yxati (tartiblangan)",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "image_path": {
                                                                "type": "string",
                                                                "example": "/storage/uploads/gallery-1.jpg"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ma'lumot topilmadi"
                    }
                }
            }
        },
        "/about/banner": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "About sahifasi bannerini olish",
                "operationId": "fa236f7b0e07e57aab528e3a8af1a854",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (kk, uz, ru, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Biz haqimizda"
                                                },
                                                "images": {
                                                    "description": "Banner rasmlari massivi (tartiblangan)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/banners/about-banner-1.jpg"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Banner topilmadi"
                    }
                }
            }
        },
        "/bookings": {
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "Yangi bron yaratish",
                "description": "Foydalanuvchi tur uchun bron qiladi. Barcha kerakli ma'lumotlarni to'ldirish shart.",
                "operationId": "166547aa028b063e31d6efe9c093aa88",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tour_id",
                                    "full_name",
                                    "max_people",
                                    "starting_date",
                                    "ending_date",
                                    "primary_phone",
                                    "email"
                                ],
                                "properties": {
                                    "tour_id": {
                                        "description": "Tur ID",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "full_name": {
                                        "description": "To'liq ism",
                                        "type": "string",
                                        "example": "Alisher Navoiy"
                                    },
                                    "max_people": {
                                        "description": "Maksimal odamlar soni (narx avtomatik hisoblanadi)",
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 2
                                    },
                                    "starting_date": {
                                        "description": "Boshlanish sanasi (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-02-15"
                                    },
                                    "ending_date": {
                                        "description": "Tugash sanasi (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-02-20"
                                    },
                                    "primary_phone": {
                                        "description": "Asosiy telefon raqam",
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "secondary_phone": {
                                        "description": "Qo'shimcha telefon raqam (ixtiyoriy)",
                                        "type": "string",
                                        "example": "+998909876543"
                                    },
                                    "email": {
                                        "description": "Email manzil",
                                        "type": "string",
                                        "format": "email",
                                        "example": "alisher@example.com"
                                    },
                                    "message": {
                                        "description": "Xabar/izoh (ixtiyoriy)",
                                        "type": "string",
                                        "example": "Men vegetarian ovqat xohlayman"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bron muvaffaqiyatli yaratildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Booking created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "tour_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Alisher Navoiy"
                                                },
                                                "max_people": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "starting_date": {
                                                    "type": "string",
                                                    "example": "2026-02-15"
                                                },
                                                "ending_date": {
                                                    "type": "string",
                                                    "example": "2026-02-20"
                                                },
                                                "primary_phone": {
                                                    "type": "string",
                                                    "example": "+998901234567"
                                                },
                                                "secondary_phone": {
                                                    "type": "string",
                                                    "example": "+998909876543"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "alisher@example.com"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Men vegetarian ovqat xohlayman"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "primary_phone": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Primary phone number is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Barcha kategoriyalarni olish",
                "description": "Aktiv kategoriyalarni ro'yxatini qaytaradi. Header orqali til kiritiladi va shu tildagi tarjima qaytariladi.",
                "operationId": "b1b247b2b491b0491c3c728dc33f23f0",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Tabiiy safari"
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/banner": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Kategoriyalar sahifasi bannerini olish",
                "operationId": "46e2d9460f18f26841f35732c8b03044",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Kategoriyalar"
                                                },
                                                "images": {
                                                    "description": "Banner rasmlari massivi (tartiblangan)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/banners/category-banner-1.jpg"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Banner topilmadi"
                    }
                }
            }
        },
        "/contact": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Bog'lanish ma'lumotlarini olish",
                "operationId": "fc65a9ced8387969bc5b37c8eeafb9db",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (languages jadvalidagi tillar)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+998901234567"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "info@example.com"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Tashkent, Uzbekistan"
                                                },
                                                "longitude": {
                                                    "type": "string",
                                                    "example": "69.2401"
                                                },
                                                "latitude": {
                                                    "type": "string",
                                                    "example": "41.2995"
                                                },
                                                "telegram_url": {
                                                    "type": "string",
                                                    "example": "https://t.me/example"
                                                },
                                                "telegram_username": {
                                                    "type": "string",
                                                    "example": "@example"
                                                },
                                                "instagram_url": {
                                                    "type": "string",
                                                    "example": "https://instagram.com/example"
                                                },
                                                "instagram_username": {
                                                    "type": "string",
                                                    "example": "@example"
                                                },
                                                "facebook_url": {
                                                    "type": "string",
                                                    "example": "https://facebook.com/example"
                                                },
                                                "facebook_name": {
                                                    "type": "string",
                                                    "example": "Example Page"
                                                },
                                                "youtube_url": {
                                                    "type": "string",
                                                    "example": "https://youtube.com/example"
                                                },
                                                "whatsapp_phone": {
                                                    "type": "string",
                                                    "example": "+998901234567"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ma'lumot topilmadi"
                    }
                }
            }
        },
        "/contact/banner": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Contact sahifasi bannerini olish",
                "operationId": "e9633877715fe78c912e9bfde2b84ec6",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (kk, uz, ru, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Biz bilan bog'laning"
                                                },
                                                "images": {
                                                    "description": "Banner rasmlari massivi (tartiblangan)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/banners/contact-banner-1.jpg"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Banner topilmadi"
                    }
                }
            }
        },
        "/faq": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "Umumiy FAQ lar ro'yxatini olish",
                "description": "Faqat umumiy (tourga tegishli bo'lmagan) FAQ larni qaytaradi",
                "operationId": "a2585f9d0b9b4f7607cd21eaf2ae4ddf",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "question": {
                                                        "type": "string",
                                                        "example": "Orolga borish uchun eng maqbul vaqt qachon?"
                                                    },
                                                    "answer": {
                                                        "type": "string",
                                                        "example": "Bizda iqlim keskin kontinental. Sayohat uchun eng ideal vaqt — bahor (aprel-may) va kuz (sentyabr-oktyabr) oylaridir."
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faq/categories": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "FAQ kategoriyalarini olish",
                "description": "Barcha faol FAQ kategoriyalarini qaytaradi",
                "operationId": "187b03b09f47ff0eac24b5f6610cc691",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Umumiy ma'lumotlar"
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hero-slides": {
            "get": {
                "tags": [
                    "Hero Slides"
                ],
                "summary": "Bosh sahifa slaydlarini olish",
                "operationId": "42b408ec0aece92c4609d91025b72d90",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (kk, uz, ru, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "image_path": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/hero-banner-1.jpg"
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Sayohatni biz bilan boshlang"
                                                    },
                                                    "subtitle": {
                                                        "type": "string",
                                                        "example": "Eng unutilmas lahzalar"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Ekspeditsiyalar haqida qisqacha ma'lumot",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/languages": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Mavjud tillar ro'yxatini olish",
                "operationId": "91490910f351598e47e910cb1f5de5fb",
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob"
                    }
                }
            }
        },
        "/questions": {
            "post": {
                "tags": [
                    "Questions"
                ],
                "summary": "Yangi savol yuborish",
                "description": "Foydalanuvchi tur haqida savol beradi. Barcha kerakli ma'lumotlarni to'ldirish shart.",
                "operationId": "a12f796f2fdc772ce53ecadbad7e73f3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tour_id",
                                    "full_name",
                                    "email",
                                    "phone",
                                    "comment"
                                ],
                                "properties": {
                                    "tour_id": {
                                        "description": "Tur ID",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "full_name": {
                                        "description": "To'liq ism",
                                        "type": "string",
                                        "example": "Alisher Navoiy"
                                    },
                                    "email": {
                                        "description": "Email manzil",
                                        "type": "string",
                                        "format": "email",
                                        "example": "alisher@example.com"
                                    },
                                    "phone": {
                                        "description": "Telefon raqam",
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "comment": {
                                        "description": "Savol matni (maksimal 2000 belgi)",
                                        "type": "string",
                                        "example": "Bu tur qaysi oyda eng yaxshi vaqt? Va men bilan 5 yoshli bola boradi, bolalar uchun chegirma bormi?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Savol muvaffaqiyatli yuborildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Savolingiz muvaffaqiyatli yuborildi. Tez orada javob beramiz!"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "tour_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Alisher Navoiy"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "alisher@example.com"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+998901234567"
                                                },
                                                "comment": {
                                                    "type": "string",
                                                    "example": "Bu tur qaysi oyda eng yaxshi vaqt?"
                                                },
                                                "status": {
                                                    "description": "pending yoki answered",
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2026-02-01T12:00:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email majburiy"
                                                    }
                                                },
                                                "comment": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Savol matni majburiy"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tur topilmadi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tanlangan tur topilmadi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/reviews": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Barcha sharhlarni olish",
                "description": "Aktiv sharhlarni ro'yxatini qaytaradi. Tour bo'yicha filter qilish mumkin.",
                "operationId": "1977cd84258463d927b22fbdb185d50b",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "tour_id",
                        "in": "query",
                        "description": "Tur ID (ixtiyoriy)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_name": {
                                                        "type": "string",
                                                        "example": "Alisher Navoiy"
                                                    },
                                                    "city": {
                                                        "type": "string",
                                                        "example": "Toshkent"
                                                    },
                                                    "comment": {
                                                        "type": "string",
                                                        "example": "Ajoyib tur edi! Juda yoqdi, hamma narsasi mukammal tashkil etilgan."
                                                    },
                                                    "rating": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "video_url": {
                                                        "type": "string",
                                                        "example": "https://youtube.com/watch?v=xxx",
                                                        "nullable": true
                                                    },
                                                    "tour": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Orol dengizi safari"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/reviews/{id}": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Bitta sharhni olish",
                "description": "ID bo'yicha sharhni qaytaradi",
                "operationId": "acf25d40c9352f206d9be8f3285fe724",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sharh ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_name": {
                                                    "type": "string",
                                                    "example": "Alisher Navoiy"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Toshkent"
                                                },
                                                "comment": {
                                                    "type": "string",
                                                    "example": "Ajoyib tur edi! Juda yoqdi, hamma narsasi mukammal tashkil etilgan."
                                                },
                                                "rating": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "video_url": {
                                                    "type": "string",
                                                    "example": "https://youtube.com/watch?v=xxx",
                                                    "nullable": true
                                                },
                                                "tour": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Orol dengizi safari"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sharh topilmadi"
                    }
                }
            }
        },
        "/reviews/banner": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Reviews sahifasi bannerini olish",
                "operationId": "0427635b8566022c09983e196197c107",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (kk, uz, ru, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Mijozlar sharhlari"
                                                },
                                                "images": {
                                                    "description": "Banner rasmlari massivi (tartiblangan)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/banners/review-banner-1.jpg"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Banner topilmadi"
                    }
                }
            }
        },
        "/tours": {
            "get": {
                "tags": [
                    "Tours"
                ],
                "summary": "Barcha turlarni olish",
                "description": "Aktiv turlarni ro'yxatini qaytaradi. Category bo'yicha filter qilish mumkin.",
                "operationId": "fee1453175a1fa9b6f205a3265be39eb",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Kategoriya ID (ixtiyoriy)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Orol dengizi safari"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+998901234567"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Ajoyib sayohat..."
                                                    },
                                                    "routes": {
                                                        "type": "string",
                                                        "example": "Toshkent - Nukus - Moynaq"
                                                    },
                                                    "important_info": {
                                                        "type": "string",
                                                        "example": "Pasport talab qilinadi"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 1500000
                                                    },
                                                    "duration_days": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "duration_nights": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "min_age": {
                                                        "type": "integer",
                                                        "example": 18
                                                    },
                                                    "max_people": {
                                                        "type": "integer",
                                                        "example": 15
                                                    },
                                                    "rating": {
                                                        "type": "number",
                                                        "example": 4.5
                                                    },
                                                    "reviews_count": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "category": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Tabiiy safari"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "main_image": {
                                                        "type": "string",
                                                        "example": "/storage/uploads/image.jpg"
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "url": {
                                                                    "type": "string",
                                                                    "example": "/storage/uploads/image.jpg"
                                                                },
                                                                "is_main": {
                                                                    "type": "boolean",
                                                                    "example": true
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tours/{id}": {
            "get": {
                "tags": [
                    "Tours"
                ],
                "summary": "Bitta turni olish",
                "description": "ID bo'yicha turni batafsil ma'lumotlari bilan qaytaradi",
                "operationId": "fa8aa004421412a6e82a7d725bb7eba1",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Tur ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Nukus madaniy turi"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+998901234567"
                                                },
                                                "slogan": {
                                                    "type": "string",
                                                    "example": "O'zbekistonning madaniy poytaxti"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Nukus shahrini va uning tarixiy joylarini kashf eting"
                                                },
                                                "routes": {
                                                    "type": "string",
                                                    "example": "Toshkent - Nukus"
                                                },
                                                "important_info": {
                                                    "type": "string",
                                                    "example": "Pasport talab qilinadi"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "example": 500000
                                                },
                                                "duration_days": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "duration_nights": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "min_age": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "max_people": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "example": 4.5
                                                },
                                                "reviews_count": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Madaniy turlar"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "main_image": {
                                                    "type": "string",
                                                    "example": "/storage/uploads/image.jpg"
                                                },
                                                "images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "itineraries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "features": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "gif_map": {
                                                    "type": "string",
                                                    "example": "/storage/uploads/route.gif",
                                                    "nullable": true
                                                },
                                                "faqs": {
                                                    "description": "Tourga tegishli FAQ lar",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "question": {
                                                                "type": "string",
                                                                "example": "Nukus madaniy turi qancha vaqt davom etadi?"
                                                            },
                                                            "answer": {
                                                                "type": "string",
                                                                "example": "Tur 1 kun davom etadi va soat 09:00 dan 18:00 gacha boradi."
                                                            },
                                                            "sort_order": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "faq_category_id": {
                                                                "type": "integer",
                                                                "example": 1,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tur topilmadi"
                    }
                }
            }
        },
        "/tours/top-rated": {
            "get": {
                "tags": [
                    "Tours"
                ],
                "summary": "Eng yuqori ratingli turlar",
                "description": "Rating bo'yicha eng yuqori 6 ta aktiv turni qaytaradi",
                "operationId": "7aa61fd5b88f3cba143fe196d7ef3ce9",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "uz",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli javob",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Orol dengizi safari"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+998901234567"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Ajoyib sayohat..."
                                                    },
                                                    "routes": {
                                                        "type": "string",
                                                        "example": "Toshkent - Nukus - Moynaq"
                                                    },
                                                    "important_info": {
                                                        "type": "string",
                                                        "example": "Pasport talab qilinadi"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 1500000
                                                    },
                                                    "duration_days": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "duration_nights": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "min_age": {
                                                        "type": "integer",
                                                        "example": 18
                                                    },
                                                    "max_people": {
                                                        "type": "integer",
                                                        "example": 15
                                                    },
                                                    "rating": {
                                                        "description": "Eng yuqori rating",
                                                        "type": "number",
                                                        "example": 4.8
                                                    },
                                                    "reviews_count": {
                                                        "type": "integer",
                                                        "example": 25
                                                    },
                                                    "category": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Tabiiy safari"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "main_image": {
                                                        "type": "string",
                                                        "example": "/storage/image.jpg"
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "url": {
                                                                    "type": "string",
                                                                    "example": "/storage/uploads/image.jpg"
                                                                },
                                                                "is_main": {
                                                                    "type": "boolean",
                                                                    "example": true
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "About",
            "description": "About"
        },
        {
            "name": "Bookings",
            "description": "Bookings"
        },
        {
            "name": "Categories",
            "description": "Categories"
        },
        {
            "name": "Contact",
            "description": "Contact"
        },
        {
            "name": "FAQ",
            "description": "FAQ"
        },
        {
            "name": "Hero Slides",
            "description": "Hero Slides"
        },
        {
            "name": "Languages",
            "description": "Languages"
        },
        {
            "name": "Questions",
            "description": "Questions"
        },
        {
            "name": "Reviews",
            "description": "Reviews"
        },
        {
            "name": "Tours",
            "description": "Tours"
        }
    ]
}